.order {
  height: 70vh;
}
.order__text{
  padding: 50px 0 20px 30px;
  font-size: 32px;
  font-family: Roboto, sans-serif;
  color: #6C63FF;
}
.order__row {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  @media only screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}
.order__title{
  order: 2;
  align-self: flex-end;
}

.order__item {
  border: 1px solid #6C63FF;
  padding: 20px;
  border-radius: 5px;
  @media only screen and (min-width: 768px) {
    width: 100%;
  }
}
.product__overall{
  display: flex;
  align-items: center;
  margin-top: 20px;
  @media only screen and (min-width: 768px) {
    justify-content: flex-end;
  }

}
.product__price{
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
.product__quantity {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
.product__name {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  &::after {
    content: '';
    position: absolute;
    background-color: #6C63FF;
    height: 1px;
    width: 273px;
    right: -20px;
    top: 25px;
  }
  @media only screen and (min-width: 768px) {
    &::after {
      display: none;
    }
  }
}

.product__minus,
.product__plus {
  background: none;
  border: none;
  color: #6C63FF;
  font-weight: 700;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
.order__overall{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  font-family: "Open Sans",sans-serif;
  font-weight: 500;
  .order__total {
    padding-right: 10px;
    padding-bottom: 10px;
  }
}