.footer {
  height: 10vh;
  background-color: #6C63FF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #fdfdfd;
}